 
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
   
/* Generics */
   
body {
  font-family: sans-serif;
  color: white;
}
  
       

/* Utils */

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
}
  

.navbar {
  height: 60px;
  background-color: rgb(255,105,0);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.navbar-menu ul {
  list-style-type: none;
  display: flex;
}

.navbar-menu a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0 3px;
}

.navbar-logo img {
  width: 120px;
}

.navbar-icons i {
  margin: 0 3px;
}


.container {
  max-width: 1200px;
  margin: 100px auto;
}

.row {
  display: flex;
  gap: 10px;
}

.col {
  min-height: 100px;
  flex-basis: calc(100 / 3);
  border: 2px solid black;
}

img {
  display: block;
  max-width: 100%;
}

.article {
  position: relative;
}

/* .article.big {
  background-image: url('img/3.webp');
  background-size: cover;
  background-position: center;
  height: 1150px;
} */

.discount {
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  position: absolute;
  bottom: 50px;
}
  
.bg-red {
  background-color: red;
  left: 0;
}
  
.bg-green {
  background-color: green;
  left: 50px;
}

  
  
