 
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
   
/* Generics */
   
body {
  font-family: sans-serif;
  color: white;
}
  
       

/* Utils */

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px black;
}
  

.navbar {
  height: 60px;
  background-color: rgb(255,105,0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.navbar-menu ul {
  list-style-type: none;
  display: flex;
}

.navbar-menu a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0 3px;
}

.navbar-logo img {
  width: 120px;
}

.navbar-icons i {
  margin: 0 3px;
}


.container {
  max-width: 1200px;
  margin: 100px auto;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 90px;
}

.col {
  min-height: 100px;
  flex-basis: calc(100% / 3);
}
  
.article {
  position: relative;
}

.discount {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  bottom: 50px;
}

.bg-red {
  background-color: red;
  left: 0;
}
  
.bg-green {
  background-color: green;
  left: 45px;
}

.green-special {
  background-color: green;
  left: 0;
}

.bottom {
  color: black;
}


.price {
  color: red;
  font-weight: bold;
}
  
.line-price {
  text-decoration: line-through;
}
  
.bottom {
  margin-top: 5px;
}

.heart {
  position: absolute;
  top: 6px;
  right: 0;
  color:black;
  font-size: 25px;
  background-color: white;
  padding: 2px 6px;
}

.heart:hover {
  color: red;
}

.background-image {
  background-size: cover;
  background-position: center;
  height: 570px;
  max-width: 100%;
}


#img-1 {
  background-image: url('img/1.webp');
}

#img-1:hover {
  background-image: url('img/1b.webp');
}
  
#img-2 {
  background-image: url('img/2.webp');
}

#img-2:hover {
  background-image: url('img/2b.webp');
}
  
#img-3 {
  background-image: url('img/3.webp');
}

#img-3:hover {
  background-image: url('img/3b.webp');
}

#img-4 {
  background-image: url('img/4.webp');
}

#img-4:hover {
  background-image: url('img/4b.webp');
}

#img-5 {
  background-image: url('img/5.webp');
}

#img-5:hover {
  background-image: url('img/5b.webp')
}

#img-6 {
  background-image: url('img/6.webp');
}

#img-6:hover {
  background-image: url('img/6b.webp');
}


footer {
  padding: 40px;
  background-color: #23272a;
  color: white;
}


.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}







  